<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="dist/images//favicon.ico" type="image/x-icon">

    <title>DigiiCoin</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <%= render 'layouts/header' %>



  <!-- About  -->
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="heading wow fadeIn text-center pb-5" >
            <h6 class="text-uppercase mb-1">What Is Bitcoin</h6>
            <h2>A New Kind of Money</h2>
            Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 text-center wow fadeIn mb-5 mb-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >
          <div class="feature">
            <div class="feature-icon feature-icon1 rounded-circle m-auto">
              <i class="lnr lnr-lock h2 rounded-circle border-0"></i>
            </div>
            <div class="feature-content">
              <h5 class="jio-font-weight-500 mb-20 my-3"><a href="javascript:;" class="text-dark">Safe and Secure</a></h5>
              Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat  tellus phasellus viverra nulla ut metus.
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center wow fadeIn mb-5 mb-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.6s" >
          <div class="feature">
            <div class="feature-icon feature-icon2 rounded-circle m-auto">
              <i class="lnr lnr-alarm h2 rounded-circle border-0"></i>
            </div>
            <div class="feature-content">
              <h5 class="jio-font-weight-500 mb-20 my-3"><a href="javascript:;" class="text-dark">Quick Notifications</a></h5>
              Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat  tellus phasellus viverra nulla ut metus.
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center wow fadeIn" data-animate="fadeIn" data-duration="1.0s" data-delay="0.8s" >
          <div class="feature">
            <div class="feature-icon feature-icon3 rounded-circle m-auto">
              <i class="lnr lnr-phone h2 rounded-circle border-0"></i>
            </div>
            <div class="feature-content">
              <h5 class="jio-font-weight-500 mb-20 my-3"><a href="javascript:;" class="text-dark">24/7 Expert Support</a></h5>
              Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat  tellus phasellus viverra nulla ut metus.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About  -->


  <!-- Table  -->
  <section>
    <div class="holder-image">
      <img src="dist/images/left.jpg" alt="" class="img-fluid d-none">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12 wow fadeIn mb-4 mb-lg-0 text-center text-lg-left align-self-center" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >
          <div class="table-responsive">
            <table class="table table-striped mb-0">
              <thead class="Montserrat text-dark font-weight-bold">
              <tr>
                <th scope="col">Cryptocurrency</th>
                <th scope="col">Price ($)</th>
                <th scope="col">24h % Change</th>
                <th scope="col">24h Volume (coin)</th>
                <th scope="col">Supply</th>
              </tr>
              </thead>
              <tbody id="tablebody">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Table  -->


    <%= yield %>

    <!-- Thanks  -->
    <section class="bg-dark text-white py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-12">
            <h2 class="text-white text-center line-height-1 pb-1">THANKS FOR VISITING MY SITE!</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- End Partner  -->

    <%= render 'layouts/footer' %>

  </body>
</html>
