<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="dist/images//favicon.ico" type="image/x-icon">

    <title>DigiiCoin</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <!-- Login /Register Form-->
  <div id="modal" class="popupContainer">
    <header class="popupHeader">
      <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>
    <div class="popupBody">
      <!-- Username & Password Login form -->
      <div class="user_login">
        <section class="p-0">
          <div class="background-image-maker gradient gradient-full rounded"></div>
          <div class="holder-image">
            <img src="dist/images/bg2.jpg" alt="" class="img-fluid d-none">
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-6 text-white px-0">
                <div class="p-5">
                  <div class="heading pb-4">
                    <h1 class="mb-2 text-white">Welcome.</h1>
                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt vivamus elementum.
                  </div>
                  <div class="list-vertical position-relative">
                    <div class="media pb-5">
                      <div class="d-md-flex mr-sm-3 mb-3 mb-md-0">
                        <span class="item position-relative rounded-circle text-center"><i class="icofont icofont-pencil-alt-1"></i></span>
                      </div>
                      <div class="media-body">
                        <h5 class="mb-0 text-white jio-font-weight-500">Sign Up with Jioexchange</h5>
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae justo.
                      </div>
                    </div>
                    <div class="media pb-5">
                      <div class="d-md-flex mr-sm-3 mb-3 mb-md-0">
                        <span class="item position-relative rounded-circle text-center"><i class="icofont icofont-ui-user"></i></span>
                      </div>
                      <div class="media-body">
                        <h5 class="mb-0 text-white jio-font-weight-500">Sign In Account</h5>
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae justo.
                      </div>
                    </div>
                    <div class="media">
                      <div class="d-md-flex mr-sm-3 mb-3 mb-md-0">
                        <span class="item position-relative rounded-circle text-center"><i class="icofont icofont-cart"></i></span>
                      </div>
                      <div class="media-body">
                        <h5 class="mb-0 text-white jio-font-weight-500">Buy / Sell Bitcoin</h5>
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae justo.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 px-0">
                <div class="p-5 bg-white rounded-right">
                  <div class="heading pb-4">
                    <h2 class="mb-2">Sign In</h2>
                    Aenean leo ligula, porttitor eu, consequat vitae, eleifend enim. Liquam lorem ante dapibus in viverra.
                  </div>
                  <div class="form-group position-relative">
                    <input type="text" class="form-control brd-light rounded-0 pl-5" placeholder="User name">
                    <div class="form-icon">
                      <i class="icofont icofont-user-alt-7"></i>
                    </div>
                  </div>
                  <div class="form-group position-relative">
                    <input type="password" class="form-control brd-light rounded-0 pl-5" placeholder="Password">
                    <div class="form-icon">
                      <i class="icofont icofont-key"></i>
                    </div>
                  </div>
                  <div class="clearfix my-3">
                    <div class="float-sm-left text-center text-sm-left">
                      <div class="check d-inline-block mr-2">
                        <input type="checkbox" id="checkbox11">
                        <label for="checkbox11" class="mb-0">Remember Me</label>
                      </div>
                    </div>
                    <div class="float-sm-right text-center text-sm-right">
                      <a href="javascript:;" class="text-light roboto">Forget Password</a>
                    </div>
                  </div>
                  <div class="clearfix my-3">
                    <a href="#" class="btn btn-primary btn-block btn-lg rounded-0">Sign In</a>
                  </div>
                  <hr class="m-0">
                  <div class="text-center or mx-auto bg-white">Or</div>
                  <div class="social-buttons text-center mb-3">
                    <a href="#" class="btn btn-facebook btn-lg text-white rounded-0 text-capitalize mb-2">Facebook</a>
                    <a href="#" class="btn btn-twitter btn-lg text-white rounded-0 text-capitalize mb-2">Twitter</a>
                    <a href="#" class="btn btn-google btn-lg text-white rounded-0 text-capitalize mb-2">Google +</a>
                  </div>
                  <div class="text-center Montserrat jio-font-weight-500">
                    <span>Don't have an account? <a href="#" class="text-dark register_form">Sign Up!</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Register Form -->
      <div class="user_register">
        <section class="p-0">
          <div class="background-image-maker gradient gradient-full rounded"></div>
          <div class="holder-image">
            <img src="dist/images/bg2.jpg" alt="" class="img-fluid d-none">
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-6 text-white px-0">
                <div class="p-5">
                  <div class="heading pb-4">
                    <h1 class="mb-2 text-white">Welcome.</h1>
                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt vivamus elementum.
                  </div>
                  <div class="list-vertical position-relative">
                    <div class="media pb-5">
                      <div class="d-md-flex mr-sm-3 mb-3 mb-md-0">
                        <span class="item position-relative rounded-circle text-center"><i class="icofont icofont-pencil-alt-1"></i></span>
                      </div>
                      <div class="media-body">
                        <h5 class="mb-0 text-white jio-font-weight-500">Sign Up with Jioexchange</h5>
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae justo.
                      </div>
                    </div>
                    <div class="media pb-5">
                      <div class="d-md-flex mr-sm-3 mb-3 mb-md-0">
                        <span class="item position-relative rounded-circle text-center"><i class="icofont icofont-ui-user"></i></span>
                      </div>
                      <div class="media-body">
                        <h5 class="mb-0 text-white jio-font-weight-500">Sign In Account</h5>
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae justo.
                      </div>
                    </div>
                    <div class="media">
                      <div class="d-md-flex mr-sm-3 mb-3 mb-md-0">
                        <span class="item position-relative rounded-circle text-center"><i class="icofont icofont-cart"></i></span>
                      </div>
                      <div class="media-body">
                        <h5 class="mb-0 text-white jio-font-weight-500">Buy / Sell Bitcoin</h5>
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae justo.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 px-0">
                <div class="p-5 bg-white rounded-right">
                  <div class="heading pb-4">
                    <h2 class="mb-2">Sign Up</h2>
                    Aenean leo ligula, porttitor eu, consequat vitae, eleifend enim. Liquam lorem ante dapibus in viverra.
                  </div>
                  <div class="form-group position-relative">
                    <input type="text" class="form-control brd-light rounded-0 pl-5" placeholder="User name">
                    <div class="form-icon">
                      <i class="icofont icofont-user-alt-7"></i>
                    </div>
                  </div>
                  <div class="form-group position-relative">
                    <input type="text" class="form-control brd-light rounded-0 pl-5" placeholder="Email">
                    <div class="form-icon">
                      <i class="icofont icofont-envelope-open"></i>
                    </div>
                  </div>
                  <div class="form-group position-relative">
                    <input type="password" class="form-control brd-light rounded-0 pl-5" placeholder="Password">
                    <div class="form-icon">
                      <i class="icofont icofont-key"></i>
                    </div>
                  </div>
                  <div class="clearfix my-3">
                    <div class="float-sm-left text-center text-sm-left">
                      <div class="check d-inline-block mr-2">
                        <input type="checkbox" id="checkbox2">
                        <label for="checkbox2" class="mb-0">I Accept the <a href="#" class="text-light"><u>Terms & Services</u></a></label>
                      </div>
                    </div>
                    <div class="float-sm-right text-center text-sm-right">
                      <a href="javascript:;" class="text-light roboto">Forget Password</a>
                    </div>
                  </div>
                  <div class="clearfix my-3">
                    <a href="#" class="btn btn-primary btn-block btn-lg rounded-0">Sign Up</a>
                  </div>
                  <hr class="m-0">
                  <div class="text-center or mx-auto bg-white">Or</div>
                  <div class="social-buttons text-center mb-3">
                    <a href="#" class="btn btn-facebook btn-lg text-white rounded-0 text-capitalize mb-2">Facebook</a>
                    <a href="#" class="btn btn-twitter btn-lg text-white rounded-0 text-capitalize mb-2">Twitter</a>
                    <a href="#" class="btn btn-google btn-lg text-white rounded-0 text-capitalize mb-2">Google +</a>
                  </div>
                  <div class="text-center Montserrat jio-font-weight-500">
                    <span>Already have an account? <a href="#" class="text-dark loginform_link">Sign In!</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- End Login /Register Form-->


  <!-- header -->
  <header id="header-fix" class="header-2">
    <div class="sticky-navbar">
      <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light py-lg-0 py-3 rounded">
          <a class="navbar-brand" href="index-2.html"><img src="dist/images/site-logo.png" alt="" class="img-fluid" /></a>
          <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown active">
                <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Home <i class="icofont icofont-simple-down"></i></a>
                <ul class="dropdown-menu rounded-0 border-0 py-0">
                  <li><a href="index.html">Home 1</a></li>
                  <li><a href="index-2.html">Home 2</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Pages <i class="icofont icofont-simple-down"></i></a>
                <ul class="dropdown-menu rounded-0 border-0 py-0">
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="coming-soon.html">Coming Soon</a></li>
                  <li><a href="error-404.html">Error 404</a></li>
                  <li><a href="faq.html">Faq</a></li>
                  <li><a href="team.html">Team</a></li>
                  <li class="dropdown-submenu"><a tabindex="-1" href="#">Services</a>
                    <ul class="dropdown-menu rounded-0 border-0 py-0">
                      <li><a href="services.html">Services</a></li>
                      <li><a href="service-details.html">Services Details</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Blog <i class="icofont icofont-simple-down"></i></a>
                <ul class="dropdown-menu rounded-0 border-0 py-0">
                  <li><a href="blog.html">Blog Grid</a></li>
                  <li><a href="single-blog.html">Single Blog</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
            </ul>
            <div class="header-right my-2 my-lg-0 ml-lg-5 d-none d-lg-block">
              <a href="#modal" class="login_form"><img src="dist/images/sign-in.png" alt="" class="img-fluid mr-4" /></a>
              <a href="#"><img src="dist/images/bit-wallet.png" alt="" class="img-fluid" /></a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!--End header -->

  <!-- Revolution Slider -->
  <div class="p-0">

    <div id="rev_slider_1078_1" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" >
      <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
      <div id="rev_slider_490_1" class="rev_slider fullwidthabanner"  data-version="5.4.1">
        <ul>
          <!-- SLIDE  1-->
          <li data-index="rs-1699" data-transition="slideremovehorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut"
              data-easeout="Power4.easeInOut" data-masterspeed="2000"
              data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="dist/images/slider2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-resizeme text-uppercase font-weight-bold text-white Montserrat"
                 data-x="['left','left','left','left']" data-hoffset="['0','50','50','10']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-30','-20','-10','-10']"
                 data-fontsize="['60','40','35','30']"
                 data-lineheight="['73','53','48','43']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
            >Bitcoin Exchange <br /> YOU CAN TRUST </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption tp-resizeme text-white"
                 data-x="['left','left','left','left']" data-hoffset="['0','50','50','10']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','70']"
                 data-fontsize="['16','16','14','14']"
                 data-lineheight="['32','32','26','26']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
            >
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. <br />Null consequat massa quis enim. pretium quis,
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption btn btn-secondary btn-lg"
                 data-x="['left','left','left','left']" data-hoffset="['0','50','50','10']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','160']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-type="button"
                 data-actions='[{"event":"click","action":"scrollbelow","offset":"0px","delay":""}]'
                 data-responsive_offset="on"
                 data-responsive="off"
                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                 data-textAlign="['left','left','left','left']"

            >Get a Quote
            </div>
          </li>

          <!-- SLIDE  2-->
          <li data-index="rs-1700" data-transition="slideremovehorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut"
              data-easeout="Power4.easeInOut" data-masterspeed="2000"
              data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="dist/images/slider1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-resizeme text-uppercase font-weight-bold text-white Montserrat"
                 data-x="['left','left','left','left']" data-hoffset="['0','50','50','10']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-30','-20','-10','-10']"
                 data-fontsize="['60','40','35','30']"
                 data-lineheight="['73','53','48','43']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
            >Be Ready To Fly <br /> With Jioexchange </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption tp-resizeme text-white"
                 data-x="['left','left','left','left']" data-hoffset="['0','50','50','10']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','70']"
                 data-fontsize="['16','16','14','14']"
                 data-lineheight="['32','32','26','26']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
            >
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. <br />Null consequat massa quis enim. pretium quis,
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption btn btn-primary btn-lg"
                 data-x="['left','left','left','left']" data-hoffset="['0','50','50','10']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','160']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-type="button"
                 data-actions='[{"event":"click","action":"scrollbelow","offset":"0px","delay":""}]'
                 data-responsive_offset="on"
                 data-responsive="off"
                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                 data-textAlign="['left','left','left','left']"
            >Get a Quote
            </div>
          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" ></div>
      </div>
    </div><!-- END REVOLUTION SLIDER -->

  </div>
  <!--End Revolution Slider -->

  <!-- Calculater  -->
  <!--<section class="p-0 calculater">-->
    <!--<div class="container position-relative p-5 cal-form">-->
      <!--<div class="background-image-maker rounded"></div>-->
      <!--<div class="holder-image">-->
        <!--<img src="dist/images/calculater-bg2.jpg" alt="" class="img-fluid d-none">-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-12 col-lg-3 wow fadeIn mb-4 mb-lg-0 text-center text-lg-left" data-animate="fadeIn" data-duration="1.0s" data-delay="0.2s" >-->
          <!--<h2 class="mb-2 text-white">Cryptocurrency Calculator</h2>-->
          <!--<h6 class="jio-font-weight-500 text-white mb-0"><i class="ion-arrow-graph-up-right"></i> Bitcoin <span class="badge badge-danger text-uppercase">live</span> Pricing Table</h6>-->
        <!--</div>-->
        <!--<div class="col-12 col-lg-8 ml-auto wow fadeIn text-center text-lg-left" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >-->
          <!--<div class="row">-->
            <!--<div class="col-12 col-md-6">-->
              <!--<div class="form-group position-relative">-->
                <!--<select class="form-control border-white pl-5" name="coin" id="coin">-->
                  <!--<option value="BTC">Bitcoin (BTC)</option>-->
                  <!--<option value="LTC">Litecoin (LTC)</option>-->
                  <!--<option value="XRP">Ripple (XRP)</option>-->
                <!--</select>-->
                <!--<div class="form-icon">-->
                  <!--<img src="dist/images/bitcoin.png" alt="" class="img-fluid">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="form-group position-relative  mb-md-0">-->

                <!--<select class="form-control border-white pl-5" name="currency" id="currency">-->
                  <!--<option value="USD">US Dollar (USD)</option>-->
                  <!--<option value="EUR">Euro (EUR)</option>-->
                  <!--<option value="GBP">GBP</option>-->
                  <!--<option value="JPY">JPY</option>-->
                  <!--<option value="CNY">CNY</option>-->
                  <!--<option value="AUD">AUD</option>-->
                  <!--<option value="HKD">HKD</option>-->
                <!--</select>-->
                <!--<div class="form-icon">-->
                  <!--<img src="dist/images/dollar.png" alt="" class="img-fluid">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-12 col-md-6">-->
              <!--<div class="form-group">-->
                <!--<input type="text" class="form-control border-white coinvalue" placeholder="5000">-->
              <!--</div>-->
              <!--<div class="form-group mb-0">-->
                <!--<input type="text" class="form-control border-white currencyvalue" placeholder="40,300,000">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!-- End Calculater  -->

  <!-- About  -->
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="heading wow fadeIn text-center pb-5" >
            <h6 class="text-uppercase mb-1">What Is Bitcoin</h6>
            <h2>A New Kind of Money</h2>
            Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 text-center wow fadeIn mb-5 mb-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >
          <div class="feature">
            <div class="feature-icon feature-icon1 rounded-circle m-auto">
              <i class="lnr lnr-lock h2 rounded-circle border-0"></i>
            </div>
            <div class="feature-content">
              <h5 class="jio-font-weight-500 mb-20 my-3"><a href="javascript:;" class="text-dark">Safe and Secure</a></h5>
              Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat  tellus phasellus viverra nulla ut metus.
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center wow fadeIn mb-5 mb-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.6s" >
          <div class="feature">
            <div class="feature-icon feature-icon2 rounded-circle m-auto">
              <i class="lnr lnr-alarm h2 rounded-circle border-0"></i>
            </div>
            <div class="feature-content">
              <h5 class="jio-font-weight-500 mb-20 my-3"><a href="javascript:;" class="text-dark">Quick Notifications</a></h5>
              Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat  tellus phasellus viverra nulla ut metus.
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center wow fadeIn" data-animate="fadeIn" data-duration="1.0s" data-delay="0.8s" >
          <div class="feature">
            <div class="feature-icon feature-icon3 rounded-circle m-auto">
              <i class="lnr lnr-phone h2 rounded-circle border-0"></i>
            </div>
            <div class="feature-content">
              <h5 class="jio-font-weight-500 mb-20 my-3"><a href="javascript:;" class="text-dark">24/7 Expert Support</a></h5>
              Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat  tellus phasellus viverra nulla ut metus.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About  -->

  <!-- Pricing Graff  -->
  <section class="py-0 pb-5 py-lg-0">
    <div class="background-image-maker gradient gradient-lr"></div>
    <div class="holder-image">
      <img src="dist/images/bg3.jpg" alt="" class="img-fluid d-none">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 wow fadeIn text-center text-lg-left align-self-center pt-lg-0 pt-5" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >
          <h5 class="font-weight-normal mb-2 text-white"><i class="ion ion-ios-pulse-strong pr-2"></i>Live Market Updates</h5>
          <h2 class="text-white mb-0">Bitcoin Live Pricing</h2>
        </div>
        <div class="col-12 col-lg-6 ml-auto wow fadeIn align-self-center text-center text-lg-right  mt-4 mt-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.6s" >
          <div id="chartContainer" class="price-graff"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Pricing Graff  -->

  <!-- Table  -->
  <section>
    <div class="holder-image">
      <img src="dist/images/left.jpg" alt="" class="img-fluid d-none">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12 wow fadeIn mb-4 mb-lg-0 text-center text-lg-left align-self-center" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >
          <div class="table-responsive">
            <table class="table table-striped mb-0">
              <thead class="Montserrat text-dark font-weight-bold">
              <tr>
                <th scope="col">Cryptocurrency</th>
                <th scope="col">Price ($)</th>
                <th scope="col">24h % Change</th>
                <th scope="col">24h Volume (coin)</th>
                <th scope="col">Supply</th>
              </tr>
              </thead>
              <tbody id="tablebody">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Table  -->

  <!-- Call To Action  -->
  <section class="bg-dark py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 wow fadeIn mb-4 mb-lg-0 text-center text-lg-left" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >
          <h3 class="text-white mb-2">Need an Advice for Cryptocurrency Investing Tips?</h3>
          <span class="lead">Maecenas tempus, tellus eget condimentum rhoncus, quam semper libero, sit amet adipiscing sem neque sed ipsum.</span>
        </div>
        <div class="col-12 col-lg-4 wow fadeIn align-self-center text-center text-lg-right  mt-4 mt-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.6s" >
          <a href="javascript:;" class="btn btn-primary btn-lg">Click For Consultant</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Call To Action  -->

  <!-- Our Advantage  -->
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="heading wow fadeIn text-center pb-5">
            <h2>Why Choose Jioexchange</h2>
            Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a tellus. Phasellus viverra nulla ut metus varius laoreet. Aenean imperdiet etiam ultricies nisi vel augue.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 wow fadeIn mb-15" data-animate="fadeIn" data-duration="1.0s" data-delay="0.2s" >
          <div class="card text-center border-0 advantage">
            <div class="card-body p-5">
              <img src="dist/images/secure.png" alt="" class="img-fluid" />
              <h5 class="jio-font-weight-500 mb-0 py-3"><a href="javascript:;" class="text-dark">Safe & Secure</a></h5>
              Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 wow fadeIn mb-15" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >
          <div class="card text-center border-0 advantage">
            <div class="card-body p-5">
              <img src="dist/images/exchange.png" alt="" class="img-fluid" />
              <h5 class="jio-font-weight-500 mb-0 py-3"><a href="javascript:;" class="text-dark">Instant Exchange</a></h5>
              Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 wow fadeIn mb-15" data-animate="fadeIn" data-duration="1.0s" data-delay="0.8s" >
          <div class="card text-center border-0 advantage">
            <div class="card-body p-5">
              <img src="dist/images/wallet.png" alt="" class="img-fluid" />
              <h5 class="jio-font-weight-500 mb-0 py-3"><a href="javascript:;" class="text-dark">Coin Wallet</a></h5>
              Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 wow fadeIn mb-15 mb-md-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s">
          <div class="card text-center border-0 advantage">
            <div class="card-body p-5">
              <img src="dist/images/recuring.png" alt="" class="img-fluid" />
              <h5 class="jio-font-weight-500 mb-0 py-3"><a href="javascript:;" class="text-dark">Recuring Buys</a></h5>
              Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 wow fadeIn mb-15 mb-md-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.6s" >
          <div class="card text-center border-0 advantage">
            <div class="card-body p-5">
              <img src="dist/images/m-app.png" alt="" class="img-fluid" />
              <h5 class="jio-font-weight-500 mb-0 py-3"><a href="javascript:;" class="text-dark">Mobile Apps</a></h5>
              Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 wow fadeIn" data-animate="fadeIn" data-duration="1.0s" data-delay="0.8s" >
          <div class="card text-center border-0 advantage">
            <div class="card-body p-5">
              <img src="dist/images/support.png" alt="" class="img-fluid" />
              <h5 class="jio-font-weight-500 mb-0 py-3"><a href="javascript:;" class="text-dark">Experts Support</a></h5>
              Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Our Advantage  -->

  <!-- Counter  -->
  <section class="py-5">
    <div class="background-image-maker gradient gradient-full-white"></div>
    <div class="holder-image">
      <img src="dist/images/bg4.jpg" alt="" class="img-fluid d-none">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 wow fadeIn mb-5 mb-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.2s" >
          <div class="counter text-center">
            <img src="dist/images/atm.png" alt="" class="img-fluid mb-3" />
            <h1 class="counter_number jio-font-weight-500 mb-0">450</h1>
            <span class="lead Montserrat text-dark">Bitcoin ATM's</span>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 wow fadeIn mb-5 mb-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >
          <div class="counter text-center">
            <img src="dist/images/country.png" alt="" class="img-fluid mb-3" />
            <h1 class="counter_number jio-font-weight-500 mb-0">170</h1>
            <span class="lead Montserrat text-dark">Countries Support</span>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 wow fadeIn mb-5 mb-sm-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.6s">
          <div class="counter text-center">
            <img src="dist/images/producer.png" alt="" class="img-fluid mb-3" />
            <h1 class="counter_number jio-font-weight-500 mb-0">210</h1>
            <span class="lead Montserrat text-dark">Producers</span>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 wow fadeIn" data-animate="fadeIn" data-duration="1.0s" data-delay="0.8s" >
          <div class="counter text-center">
            <img src="dist/images/operator.png" alt="" class="img-fluid mb-3" />
            <h1 class="counter_number jio-font-weight-500 mb-0">328</h1>
            <span class="lead Montserrat text-dark">Operators</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Counter  -->

  <!-- Testimonial  -->
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-12">
          <div class="heading wow fadeIn text-center pb-1">
            <h2>Testimonials</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div id="owl-testimonial" class="owl-carousel">
            <div class="item text-center">
              <div class="testimonial2">
                <img src="dist/images/author5.jpg" alt="" class="img-fluid rounded-circle" width="100" />
                <div class="quote">
                  <img src="dist/images/quote.png" alt="" class="img-fluid mx-auto bg-white rounded-circle" width="40" />
                </div>
                <strong class="text-dark d-block">Mrs. Everett Hicks</strong>
                <small>CEO, Sigma Technology</small>
                <div class="content pt-4">
                  <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus sem quam.</p>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimonial2">
                <img src="dist/images/author4.jpg" alt="" class="img-fluid rounded-circle" width="100" />
                <div class="quote">
                  <img src="dist/images/quote.png" alt="" class="img-fluid mx-auto bg-white rounded-circle" width="40" />
                </div>
                <strong class="text-dark d-block">Mr. Alfredo Sanchez</strong>
                <small>CEO, Sigma Technology</small>
                <div class="content pt-4">
                  <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus sem quam.</p>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimonial2">
                <img src="dist/images/author6.jpg" alt="" class="img-fluid rounded-circle" width="100" />
                <div class="quote">
                  <img src="dist/images/quote.png" alt="" class="img-fluid mx-auto bg-white rounded-circle" width="40" />
                </div>
                <strong class="text-dark d-block">Mr. Raymond Harvey</strong>
                <small>CEO, Sigma Technology</small>
                <div class="content pt-4">
                  <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus sem quam.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonial  -->

  <!-- Partner  -->
  <section class="bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12">
          <h2 class="text-white text-center line-height-1 pb-1">THANKS FOR VISITING MY SITE!</h2>
          <div id="img-carousal" class="owl-carousel">
            <div class="item text-center">
              <a href="javascript:;"><img src="dist/images/c-logo1.png" alt="" title="Adobe" class="img-fluid" /></a>
            </div>
            <div class="item text-center">
              <a href="javascript:;"><img src="dist/images/c-logo2.png" alt="" title="Codekit" class="img-fluid" /></a>
            </div>
            <div class="item text-center">
              <a href="javascript:;"><img src="dist/images/c-logo3.png" alt="" title="Envato" class="img-fluid" /></a>
            </div>
            <div class="item text-center">
              <a href="javascript:;"><img src="dist/images/c-logo4.png" alt="" title="Yahoo" class="img-fluid" /></a>
            </div>
            <div class="item text-center">
              <a href="javascript:;"><img src="dist/images/c-logo5.png" alt="" title="Github" class="img-fluid" /></a>
            </div>
            <div class="item text-center">
              <a href="javascript:;"><img src="dist/images/c-logo6.png" alt="" title="Adobe" class="img-fluid" /></a>
            </div>
            <div class="item text-center">
              <a href="javascript:;"><img src="dist/images/c-logo7.png" alt="" title="Codekit" class="img-fluid" /></a>
            </div>
            <div class="item text-center">
              <a href="javascript:;"><img src="dist/images/c-logo1.png" alt="" title="Envato" class="img-fluid" /></a>
            </div>
            <div class="item text-center">
              <a href="javascript:;"><img src="dist/images/c-logo2.png" alt="" title="Yahoo" class="img-fluid" /></a>
            </div>
            <div class="item text-center">
              <a href="javascript:;"><img src="dist/images/c-logo3.png" alt="" title="Github" class="img-fluid" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Partner  -->


    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
